blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  font: 400 10px/1.5 "Microsoft Yahei", SimSun;
  color: #8e8893;
  background-color: $mybg;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: #ddd;
}

.container {
  min-width: 375px;
}

// 盒子模型
// * {
//   box-sizing: border-box;
// }

// 绿色小竖条
.text-line {
  display: inline-block;
  height: 11px;
  border: 2px solid #25c085;
  vertical-align: -1px;
  margin-right: 0.5rem;
}

// 文字阴影
.txt-sdow {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.27);
}

// 盒子阴影 .box-shadow
.box-sdow {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.27);
}

// 外层盒子
.wrap {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  height: 100%;
  margin: 0 auto;
}

/* 结构
  .wrap>.sm-wrap
*/
.sm-wrap {
  width: 100%;
  padding: 0 44px;
  box-sizing: border-box;
}

/* 子页面的wrap */
.sec-wrap {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 479px) {
  .sm-wrap {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

// 关闭按钮x
.close {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 2.2rem;
  color: #8e8893;
}

/* //提取title共用样式 */
/* 
div.content-title>p*3
*/

.content-title {
  // padding: 4.5rem 0;
  padding: 130px 0 140px;
  text-align: center;

  p {
    color: #584f60;
    font-size: 1.36rem;

    &:first-child {
      font-weight: 600;
      font-size: 2.4rem;
    }

    &:last-child {
      font-size: 1.6rem;
      margin-top: 32px;
    }
  }
}

/* 内容区按钮样式 */
/* 
a.kp-btn>span{按钮文字}+span{}
*/
.kp-btn {
  display: inline-block;
  width: 138px;
  height: 42px;
  font-size: 1.4rem;
  color: #fefefe; // text-decoration: none;
  background-color: #24c789;
  border-radius: 20px;
  text-align: center;
  line-height: 42px;
  box-shadow: 0 4px 16px 0 rgba(32, 178, 122, 0.27);

  span:first-child {
    position: relative;
    left: -0.5rem;
    margin-right: 1rem;
  }

  span:last-child {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #a6efd3;
    border-right: 2px solid #a6efd3;
    transform: rotate(45deg);
  }

  &:hover span:first-child {
    left: 0;
    transition: all 0.5s linear;
  }
}

/* self-图标 */
/* 
结构
div.self-icon>div
*/
.self-icon {
  div {
    // float: right;
    width: 16px;
    height: 18px;
    border: 3px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: none;

    &::after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border: 3px solid #fff;
      box-sizing: border-box;
      transform: rotate(45deg);
      position: relative;
      top: 9px;
      left: -3px;
    }
  }
}

/* (标题+内容+按钮)
title-intr-btn
div.tittle-intr-btn
  p (title)
  p (introduct)
  p (btn)
    a
      span文字
      span右箭头
*/

.title-intr-btn {
  width: 280px;
  height: 160px;

  >p {
    width: 100%;
    text-align: right; // 标题

    &:nth-child(1) {
      font-size: 1.6rem;
      font-weight: bold;
      color: #fff;
    }

    // 描述
    &:nth-child(2) {
      font-size: 1.4rem;
      color: #8e8893;
    }

    // 按钮
    &:nth-child(3) {
      a {
        display: inline-block;
        width: 138px;
        height: 42px;
        font-size: 1.4rem;
        color: #fefefe;
        text-decoration: none;
        background-color: #584f60; // background-color: #24c789;
        border-radius: 20px;
        text-align: center;
        line-height: 42px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.27); // box-shadow: 0 4px 16px 0 rgba(32, 178, 122, 0.27);

        span:first-child {
          position: relative;
          left: -0.5rem;
          margin-right: 1rem;
        }

        span:last-child {
          display: inline-block;
          width: 11px;
          height: 11px;
          border-top: 1px solid #fefefe;
          border-right: 1px solid #fefefe; // border-top: 1px solid #a6efd3;
          // border-right: 1px solid #a6efd3;
          transform: rotate(45deg);
        }

        &:hover span:first-child {
          left: 0;
          transition: all 0.5s linear;

          span:first-child {
            color: #fefefe;
          }
        }
      }
    }
  }
}



/* shop提取的txt-btn */
/* 
a.txt-btn{立即下载}
*/
.txt-btn {
  display: inline-block;
  width: 86px;
  height: 35px;
  line-height: 35px;
  font-size: 1.4rem;
  color: #24c789;
  text-align: center;
  box-sizing: border-box;
  border: 0.5px solid #24c789;
  border-radius: 17.5px;
  margin-right: 1rem;
  margin-top: 18.75px;

}

// 清除浮动
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
}

@media screen and (max-width: 576px) {
  .fixed-sm-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

/* 通用头部 */
#keep-header {
  background-color: #4b4453;

  .download-wrap-pc {
    height: 71px;
    background-color: #4b4453;

    .honour-left {
      float: left;
      height: 100%;

      .self-icon {
        float: left;
        height: 100%;
        margin: 0 1rem;

        div {
          margin-top: 2.3rem;
        }
      }

      span {
        float: left;
        height: 100%;
        line-height: 71px;
        font-size: 1.2rem;
      }
    }

    .app-wrap {
      float: right;
      width: 294px;
      height: 100%;

      >li {
        float: left; // height: auto;

        // line-height: 71px;
        &.ios,
        &.android {
          width: 116px;
          height: 32px;
          border: 1px solid #8e8893;
          border-radius: 30px;
          text-align: center;
          margin: 1.4rem 1rem 0 0;

          a {
            float: left;
            width: 100%;
            height: 32px;

            span {
              float: left;
              height: 32px;

              &.mechine-icon {
                width: 24px;
                height: 24px;
                line-height: 45px;
                margin: 0 1rem;

                img {
                  width: 100%;
                }
              }

              &.mechine-name {
                font-size: 1.2rem;
                line-height: 32px;
                color: #8e8893;
              }
            }
          }
        }

        &.ios {}

        &.android {}

        &.closeBtn {
          margin-top: 20px;
        }
      }
    }
  }

  .download-wrap-phone {
    display: none;
    background-color: #fff;
    height: 72.5px;

    .home-wrap {
      float: left;
      height: 100%;
      width: 210px; // 暂定
      margin-left: 1rem;

      .logo {
        float: left;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        overflow: hidden;
        margin: 12.25px 10px 0 0px;

        img {
          width: 100%;
        }
      }

      .title {
        float: left;
        padding: 20px 0 0 3px;
        font-size: 1.4rem;
        color: #333;
      }

      .details {
        float: left;
        font-size: 1.2rem;
        color: #999;
      }
    }

    .download-btn {
      float: right;
      width: 86px;
      height: 35px;
      line-height: 35px;
      font-size: 1.4rem;
      color: #24c789;
      text-align: center;
      box-sizing: border-box;
      border: 0.5px solid #24c789;
      border-radius: 17.5px;
      margin-right: 1rem;
      margin-top: 18.75px;
    }
  }

  .nav-head-wrap {
    width: 100%;
    height: 96px;
    background-color: #584f60;

    .wrap {
      height: 96px;

      li {
        height: 100%;
        line-height: 96px;

        &:nth-child(1) {
          float: left;
          width: 112px;
          height: 96px;
          margin-left: 1rem;

          a {
            display: inline-block;
            height: 96px;
            line-height: 96px;

            img {
              vertical-align: middle;
              width: 100%;
            }
          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          float: right;
          margin-left: 40px;
          margin-right: 1rem;

          a {
            font-size: 1.4rem;
            color: #fff;
          }
        }
      }
    }
  }
}

/*  keep-header 媒体查询 大 1024-1439 */

@media screen and (min-width: 1024px) and (max-width: 1439px) {}

/*  keep-header 媒体查询 中 768-1023 */

@media screen and (min-width: 768px) and (max-width: 1023px) {}

/*  keep-header 媒体查询 小 767以下 */

@media screen and (max-width: 767px) {
  #keep-header {
    .download-wrap-pc {
      /* media start */
      display: none;
      /* media end */
    }

    .download-wrap-phone {
      /* media start */
      display: block;
      /* media end */
    }

    .nav-head-wrap {
      display: none;
    }
  }
}




/* 通用脚部 */
#kfooter {
  background-color: #fff;
  // height: 426px;
  padding-bottom: 5rem;

  .kf-wrap {
    height: 100%;
    max-width: 1280px;
    padding-top: 100px;
    box-sizing: border-box;

    .info {
      width: 100%;
      height: 124px;
      display: flex;
      justify-content: space-between;

      .info-left {
        width: 250px;
        height: 124px; // margin-left: 2rem;
        display: flex;
        justify-content: space-between;

        >li {
          >div {
            +div {
              margin-top: 1rem;
            }

            >a {
              color: #584f60;
            }
          }
        }
      }

      .info-right {
        width: 204px;
        height: 101px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; // margin-right: 2rem;

        .social {
          text-align: center;

          a {
            display: inline-block;
            width: 26px;
            height: 26px;

            +a {
              margin-left: 2rem;
            }

            img {
              width: 100%;
            }
          }

          a:nth-child(1) {
            position: relative;

            img:nth-child(2) {
              display: none;
              width: 150px;
              height: 150px;
              border: 1px solid #999;
              position: absolute;
              top: -160px;
              left: -18px;
            }

            &:hover {
              img:nth-child(2) {
                display: block;
              }
            }
          }
        }

        .info-txt {
          text-align: right;
          font-size: 1.2rem;
          line-height: 1.8;
        }
      }
    }

    .copyright {
      color: #999;
      text-align: left;
      margin-top: 94px;
      padding: 2.4rem 0;
      font-size: 1.2rem;
      border-top: 1px solid #f0f0f0;
      display: flex;
      flex-wrap: wrap;

      a {
        color: #999;
      }

      >div:nth-child(1) {
        display: inline-block;
      }

      >div:nth-child(2) {
        a {
          margin-left: 5px;

          span {
            img {
              vertical-align: -3px;
            }
          }
        }
      }

      div.report {
        height: 16px;
        margin-top: 1rem;
        width: 100%;
      }
    }
  }
}

/* kfooter媒体查询 大 1024-1439 */

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  #kfooter {
    /* media start */
    height: 358px;

    /* media end */
    .kf-wrap {
      /* media start */
      max-width: 960px;
      padding-top: 56px;

      /* media end */
      .copyright {
        /* media start */
        margin-top: 52px;
        /* media end */
      }
    }
  }
}

/* kfooter媒体查询 中 768-1023 */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #kfooter {
    /* media start */
    height: 347px;

    /* media end */
    .kf-wrap {
      /* media start */
      max-width: 720px;
      padding-top: 56px;

      .info {
        .info-left {
          margin-left: 2rem;
        }

        .info-right {
          margin-right: 2rem;
        }
      }

      /* media end */
      .copyright {
        /* media start */
        width: 100%;
        height: 118px;
        margin-top: 49px; // text-align: center;

        div {
          width: 100%;
          text-align: center;
        }

        /* media end */
      }
    }
  }
}

/* kfooter媒体查询 小 768以下 */

@media screen and (max-width: 767px) {
  #kfooter {
    /* media start */
    height: 501.17px;

    /* media end */
    .kf-wrap {
      /* media start */
      max-width: 720px;
      padding-top: 60px;

      /* media end */
      .info {
        width: 100%;
        height: 242.78px;
        flex-direction: column;

        .info-left {
          flex: 1;
          width: 100%;
          margin: 0 auto;
          justify-content: space-around;

          li {
            div {
              margin: 0;
              margin-bottom: 2.3rem;
            }
          }
        }

        .info-right {
          width: 100%;
          height: auto;

          .social {
            display: flex;
            justify-content: space-around;
          }

          .info-txt {
            display: none;
          }
        }
      }

      .copyright {
        /* media start */
        width: 100%;
        height: 122px;
        margin-top: 37px; // text-align: center;

        div {
          width: 100%;
          text-align: center;

          &:nth-child(1) {
            a {
              display: none;
            }
          }

          &:nth-child(2) {
            a {
              display: block;
            }
          }

          &:nth-child(3) {
            height: auto;
            padding: 0 1rem 2rem;
          }
        }

        /* media end */
      }
    }
  }
}